<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
	
</head>
<body >

<div>
    <%- include('partials/header'); -%>
</div>
<div class="container" style="margin-top:30px">
  <div id="WebContainer" class="row">
     <%- include('partials/login'); -%>	 
  </div>
  <div id="WebContainer1" class="row">
     <%- include('partials/addUser'); -%>	 
  </div>
  <div id="WebContainer2" class="row">
     <%- include('partials/updateUser'); -%>	 
  </div>
  <div id="WebContainer3" class="row">
     <%- include('partials/uploadImage'); -%>	 
  </div>
</>
</div>
<div id="pageContent" >
</div>
    <footer>
        <p>© 2020 Oshrit Vidal & Bracha Asulin</p>
    </footer>
</body>
</html>
